flows.json
[
    {
        "id": "fec47517.5cb608",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "553368ce.88a1f8",
        "type": "ibmiot in",
        "z": "fec47517.5cb608",
        "authentication": "apiKey",
        "apiKey": "34248ae9.8e9226",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "1234567",
        "applicationId": "",
        "deviceType": "raspberrypi",
        "eventType": "+",
        "commandType": "",
        "format": "json",
        "name": "IBM IoT",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": false,
        "allLogicalInterfaces": "",
        "allEvents": true,
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 170,
        "y": 140,
        "wires": [
            [
                "28eb675a.e3ab28",
                "e04284df.d48c58",
                "cd843683.5e1108",
                "4eaab859.2e0f78"
            ]
        ]
    },
    {
        "id": "2f89e327.1418cc",
        "type": "debug",
        "z": "fec47517.5cb608",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 730,
        "y": 120,
        "wires": []
    },
    {
        "id": "28eb675a.e3ab28",
        "type": "function",
        "z": "fec47517.5cb608",
        "name": "temperature",
        "func": "global.set('temperature',msg.payload.Temperature)\nmsg.payload=msg.payload.Temperature\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 40,
        "wires": [
            [
                "2f89e327.1418cc",
                "2e9f28a3.b960c8"
            ]
        ]
    },
    {
        "id": "e04284df.d48c58",
        "type": "function",
        "z": "fec47517.5cb608",
        "name": "pressure",
        "func": "global.set('pressure',msg.payload.Pressure)\nmsg.payload=msg.payload.Pressure\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 120,
        "wires": [
            [
                "2f89e327.1418cc",
                "49764676.8af768"
            ]
        ]
    },
    {
        "id": "cd843683.5e1108",
        "type": "function",
        "z": "fec47517.5cb608",
        "name": "humidity",
        "func": "global.set('humidity',msg.payload.Humidity)\nmsg.payload=msg.payload.Humidity\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 200,
        "wires": [
            [
                "2f89e327.1418cc",
                "dad671ab.9eb66"
            ]
        ]
    },
    {
        "id": "2e9f28a3.b960c8",
        "type": "ui_gauge",
        "z": "fec47517.5cb608",
        "name": "",
        "group": "5dbe9a99.ed4684",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "Celsius",
        "format": "{{value}}",
        "min": "-40",
        "max": "125",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 660,
        "y": 40,
        "wires": []
    },
    {
        "id": "49764676.8af768",
        "type": "ui_gauge",
        "z": "fec47517.5cb608",
        "name": "",
        "group": "5dbe9a99.ed4684",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Pressure",
        "label": "Pa",
        "format": "{{value}}",
        "min": "500",
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 720,
        "y": 180,
        "wires": []
    },
    {
        "id": "dad671ab.9eb66",
        "type": "ui_gauge",
        "z": "fec47517.5cb608",
        "name": "",
        "group": "5dbe9a99.ed4684",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "units",
        "format": "{{value}}",
        "min": "100",
        "max": "600",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 650,
        "y": 240,
        "wires": []
    },
    {
        "id": "4d4493a8.f7cf5c",
        "type": "http in",
        "z": "fec47517.5cb608",
        "name": "",
        "url": "/data",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 360,
        "wires": [
            [
                "11194e.016136b3"
            ]
        ]
    },
    {
        "id": "c70d6185.b95cd",
        "type": "http response",
        "z": "fec47517.5cb608",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 600,
        "y": 360,
        "wires": []
    },
    {
        "id": "11194e.016136b3",
        "type": "function",
        "z": "fec47517.5cb608",
        "name": "data",
        "func": "msg.payload={'temperature':global.get(\"temperature\"),'pressure':global.get(\"pressure\"),'humidity':global.get(\"humidity\"),'soilmoisture':global.get(\"soilmoisture\")}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 360,
        "wires": [
            [
                "c70d6185.b95cd"
            ]
        ]
    },
    {
        "id": "542057e1.24ec18",
        "type": "http in",
        "z": "fec47517.5cb608",
        "name": "",
        "url": "/command",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 460,
        "wires": [
            [
                "893c7def.0a848"
            ]
        ]
    },
    {
        "id": "3ab60bbd.785a84",
        "type": "http response",
        "z": "fec47517.5cb608",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 630,
        "y": 460,
        "wires": []
    },
    {
        "id": "893c7def.0a848",
        "type": "function",
        "z": "fec47517.5cb608",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 460,
        "wires": [
            [
                "3ab60bbd.785a84",
                "bba3ed0.790271",
                "b5db1265.22b2e"
            ]
        ]
    },
    {
        "id": "bba3ed0.790271",
        "type": "debug",
        "z": "fec47517.5cb608",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 760,
        "y": 420,
        "wires": []
    },
    {
        "id": "f2a205d7.a07538",
        "type": "ui_button",
        "z": "fec47517.5cb608",
        "name": "",
        "group": "5dbe9a99.ed4684",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "motoron",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"command\":\"motoron\"}",
        "payloadType": "json",
        "topic": "",
        "x": 240,
        "y": 560,
        "wires": [
            [
                "b5db1265.22b2e",
                "14c92e67.3af762"
            ]
        ]
    },
    {
        "id": "399f3029.170f3",
        "type": "ui_button",
        "z": "fec47517.5cb608",
        "name": "",
        "group": "5dbe9a99.ed4684",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "motoroff",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"command\":\"motoroff\"}",
        "payloadType": "json",
        "topic": "",
        "x": 240,
        "y": 660,
        "wires": [
            [
                "b5db1265.22b2e",
                "14c92e67.3af762"
            ]
        ]
    },
    {
        "id": "b5db1265.22b2e",
        "type": "ibmiot out",
        "z": "fec47517.5cb608",
        "authentication": "apiKey",
        "apiKey": "34248ae9.8e9226",
        "outputType": "cmd",
        "deviceId": "1234567",
        "deviceType": "raspberrypi",
        "eventCommandType": "home",
        "format": "json",
        "data": "data",
        "qos": 0,
        "name": "IBM IoT",
        "service": "registered",
        "x": 640,
        "y": 680,
        "wires": []
    },
    {
        "id": "14c92e67.3af762",
        "type": "debug",
        "z": "fec47517.5cb608",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 820,
        "y": 560,
        "wires": []
    },
    {
        "id": "4eaab859.2e0f78",
        "type": "function",
        "z": "fec47517.5cb608",
        "name": "soilmoisture",
        "func": "global.set('soilmoisture',msg.payload.soilmoisture)\nmsg.payload=msg.payload.soilmoisture\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 260,
        "wires": [
            [
                "30443f3d.cdf15",
                "2f89e327.1418cc"
            ]
        ]
    },
    {
        "id": "30443f3d.cdf15",
        "type": "ui_gauge",
        "z": "fec47517.5cb608",
        "name": "",
        "group": "5dbe9a99.ed4684",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Soilmoisture",
        "label": "units",
        "format": "{{value}}",
        "min": "100",
        "max": "600",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 680,
        "y": 300,
        "wires": []
    },
    {
        "id": "34248ae9.8e9226",
        "type": "ibmiot",
        "z": "",
        "name": "",
        "keepalive": "60",
        "serverName": "",
        "cleansession": true,
        "appId": "",
        "shared": false
    },
    {
        "id": "5dbe9a99.ed4684",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "3ce24e0c.22ddf2",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "3ce24e0c.22ddf2",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]